<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuários</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>Biblioteca Comunitária</h1>
    <nav>
        <a href="/livros">Livros</a>
        <a href="/usuarios">Usuários</a>
        <a href="/emprestimos">Empréstimos</a>
    </nav>
</header>
<div class="container">
    <h2>Lista de Usuários</h2>
    <a class="button" href="/usuarios/cadastrar">Cadastrar Novo Usuário</a>
    
    <table>
        <tr>
            <th>ID</th><th>Nome</th><th>Email</th>
        </tr>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}"></td>
            <td th:text="${usuario.nome}"></td>
            <td th:text="${usuario.email}"></td>
        </tr>
    </table>
</div>
</body>
</html>
